---
layout: default
---

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% if page.categories %}{% include breadcrumbs.html %}{% endif %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
			</br>
				<hr />
				<div data-badge-details="right" data-badge-type="medium-donut" data-doi="{{page.doi}}" data-hide-no-mentions="true" class="altmetric-embed"></div>
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% include share-this.html %}
					{% include page-meta.html %}
					{% if page.tags %}{% include page-meta-header.html %}{% endif %}
				</footer><!-- /.footer -->
				<aside>
					{% include comments.html %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
